# My `.gitignore` for Mac OS X / macOS
# (c) @Zweihorn - 2022, 2023 - Germany (DE), European Union (EU)
# Licensed under the EUPL

## General
.DS_Store
.AppleDouble
.LSOverride

## Icon must end with two \cr
Icon

# Thumbnails
._*

## Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

## Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

## Editors and development environments
*~
*.swp
*.bak*
*.orig
### Vim
*.vim
### Kate
.*.kate-swp
.swp.*
### KDevelop4
.kdev4/
*.kdev4
### Eclipse (CDT and LDT)
.project
.cproject
.settings/
.buildpath
.metadata
### GNU Global
tags
!tags/
gtags.files
.idea
### Codelite
*.project
### Visual Studio Code & plugins
.vscode/
build/.cmake/
### Gradle
.gradle
### Clang
.cache

## Files related to development cycle
/*.patch
*.diff

## GNU Patch reject file
*.rej
